extends layout

block head
  link(rel='stylesheet', href='/javascripts/vendor/bootstrap-css/css/bootstrap.css')

  script(type='text/javascript', src='/javascripts/controllers/TodoListController.js')

block content
  div.container(ng-controller="TodoListController", ng-init="setTodos( #{JSON.stringify(todos)} )")
    h1 Add New Todo
    form(novalidate, ng-submit="addNewTodo()")
      textarea( ng-model="newTodo.description",
                placeholder="Description")
      br
      //- datepicker(ng-model="newTodo.due")
      div(ng-model="newTodo.due"): datepicker()
      br
      button.btn.btn-primary(type="submit") Add Todo
